.Container{
    background-color: deeppink;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.LogoArg{
   height: 60%;
}


.Contenedor-Logos{
    width: 50%;
    height: 70px;
    display: flex;
    align-items: center;
}

.Contenedor-Redes{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.fab{
    margin-right: 10px;
    color:white
}

