.Container{
    background-color: deeppink;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.Contenedor-Logos{
    width: 50%;
    height: 130%;
    display: flex;
}

.Contenedor-Redes{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.fab{
    margin-right: 10px;
    color:white;
    font-size: 22px;
}

.Banner{
    width: 100%;
    height: 208px;
    border-top: solid violet 4px;
    border-bottom: solid violet 4px;
    flex-direction: column;
    display: flex;
}

.ImgBan{
    width: 100%;
    height: 13em;
}

.Foto-Perf{
    width: 145px;
    height: 145px;
    position: relative;
    border-radius: 50%;
    border: 3px solid blueviolet;
}

.Foto-Contenedor{
    width: 90%;
    height: 90%;
    margin-top: -80px;
    margin-left: 25px;
}