<header>
    <nav>
        <div class="Container">

            <div class="Contenedor-Logos">
                <img src="..\..\assets\logo-ap.png" class="LogoArg"  id="LogoAP">
            </div>

            <div class= "Contenedor-Redes">
                <a href="https://www.instagram.com/crazyro15/"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/crazyro15"><i class="fab fa-github-alt"></i></a>
                <a href="https://www.linkedin.com/in/roomii-moran-069954191/"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.facebook.com/roomii.moran"><i class="fab fa-facebook-square"></i></a>
            </div>

        </div>
    </nav>

</header>