
    
        <div class="Container">

            <div class="Contenedor-Logos">
                <img alt="APLogo" src="../../../assets/APLogo.png" class="LogoArg">
                <img alt="YoPLogo" src="../../../assets/yoProgramo.png" class="LogoYoP">
            </div>

            <div class= "Contenedor-Redes">
                <app-login></app-login>
                
                <!--Redes sociales-->

                <a aria-label="wa" href="https://wa.me/5492983595449"><i class="fa-brands fa-whatsapp"></i></a>
                <a aria-label="ig" href="https://www.instagram.com/crazyro15/"><i class="fa-brands fa-instagram"></i></a>
                <a aria-label="git" href="https://github.com/crazyro15"><i class="fa-brands fa-github"></i></a>
                <a aria-label="link" href="https://www.linkedin.com/in/roomii-moran-069954191/"><i class="fa-brands fa-linkedin"></i></a>
                
            </div>

        </div>

        <div class="Banner">
            <div class="FotoBan" [ngStyle]="{'background-image': 'url(' + miPortfolio.imgban + ')'}">
            
               <div class="codigo">
                   <img alt="cod" src="../../../assets/codigo.png" class="ImgCod">
                   <div class="icon">
                       <i class="fa-solid fa-pencil"></i>
                    </div>
                </div>
                
            </div> 
            
        </div>  

            <div class="Foto-Contenedor">
                <img alt="perf" [src]="miPortfolio.imgperfil" class="Foto-Perf">
                <div class="icon2">
                    <i class="fa-solid fa-pencil"></i>
                </div>
            </div>
        

    

