<header>
    <nav>
        <div class="Container">

            <div class="Contenedor-Logos">
                <img alt="APLogo" src="../../../assets/APLogo.png" class="LogoArg">
                <img alt="YoPLogo" src="../../../assets/yoProgramo.png" class="LogoYoP">
            </div>

            <div class= "Contenedor-Redes">
                <a aria-label="ig" href="https://www.instagram.com/crazyro15/"><i class="fab fa-instagram"></i></a>
                <a aria-label="git" href="https://github.com/crazyro15"><i class="fab fa-github-alt"></i></a>
                <a aria-label="link" href="https://www.linkedin.com/in/roomii-moran-069954191/"><i class="fab fa-linkedin-in"></i></a>
                <a aria-label="face" href="https://www.facebook.com/roomii.moran"><i class="fab fa-facebook-square"></i></a>
            </div>

        </div>

        
    
        <div class="Banner">
            <div class="FotoBan">
               <img alt="ban" src="../../../assets/banner10.jpg" class="ImgBan">
            </div>

            <div class="codigo">
                <img alt="cod" src="../../../assets/codigo.png" class="ImgCod">
            </div>

        </div>  

            <div class="Foto-Contenedor">
                <img alt="perf" src="../../../assets/roomi.jpg" class="Foto-Perf">
            </div>
        

    </nav>

</header>