.acerca-de{
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid blueviolet 4px;
    background-color: rgb(255, 122, 184);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -35px;
    margin-bottom: 20px;
}

.imagen{
    height: 140px;
    display: flex;
    justify-content: flex-end;
    padding: 2%;
}

.texto{
    padding: 2%;
}

h1{
    font-family: 'Bebas Neue', cursive;  
}

h3{
    font-family: 'Amaranth', sans-serif;
}


p{
    font-family: 'Mali', cursive;
    font-size: 15px;
}