<div class="acerca-de">

        <div class="texto">
                <h1>{{miPortfolio.presentacion}} {{miPortfolio.nombre}}</h1>
                <h3>{{miPortfolio.puesto}}</h3>
                
                <br>
                <p><b>{{miPortfolio.info}}</b></p>

                <div class="icon">
                        <a (click)="Editar()"><i class="fa-solid fa-pencil"></i></a>
                        <i class="fa-solid fa-trash-can"></i>
                </div>

                
        
        </div>

        <div class="imagen">
            <img alt="tec" [src]="miPortfolio.img" class="img">
        </div>

        
</div>

<div class="datos"  *ngIf="edit" >
        <label for="">Ingrese su nombre:</label>
        <input type="text" id="nombre" placeholder="Su nombre">
        <label for="">Ingrese su puesto actual:</label>
        <input type="text" id="puestopres" placeholder="Puesto Actual">
        <label for="">Ingrese su información:</label>
        <input type="text" id="informacion" placeholder="Su Información">
        <label for="">Ingrese URL imagen:</label>
        <input type="text" id="imgpres" placeholder="URL Imagen">
</div>