.acerca-de{
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid blueviolet 4px;
    background-color: rgb(255, 122, 184);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imagen{
    height: 140px;
    display: flex;
    justify-content: center;
    margin-right: 10%;
}

.texto{
    padding: 2%;
}

h1{
    font-family: 'Bebas Neue', cursive;  
}

h3{
    font-family: 'Amaranth', sans-serif;
}


p{
    font-family: 'Mali', cursive;
    font-size: 15px;
}

.icon{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.fa-solid{
    margin-left: 5px;
    margin-right: 5px;
}

h3 .fa-solid{
    font-size: 15px;
}

/*Div CRUD*/

.datos{
    display: none;
    flex-direction: column;
    padding: 1vh;
    align-items: center;
    border: solid blueviolet 4px;
    background-color: rgb(255, 122, 184);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 22px;
}

label{
	color: white;
	display: block;
	text-align:start;
	font-size: 3vh;
	padding: 0px;
    margin: 2vh;
}

input[type="text"]{
	width: 360px;
	height: auto;
	display: block;
	padding: 1vh;
	font-weight: bolder;
	border: 1px solid black;
    border-radius: 8px;
    margin-left: 2vh;
    margin-right: 2vh;
    background-color: white;
}
