<div class="acerca-de">

        <div class="texto">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Shadows+Into+Light&display=swap" rel="stylesheet">
                <h1>{{miPortfolio.presentacion}}</h1>
                <h3>Fullstack Developer WEB Jr y futura Analista en Sistemas.</h3>
                <br>
                <p><b>Vivo en Claromecó, Buenos Aires, Argentina.<br>
                Trabajo actualmente en el sector administrativo municipal y estoy en búsqueda de mi primer empleo IT.<br>
                Desde pequeña me apasionó la tecnología y hoy tengo la posibilidad de aprender y capacitarme.<br>
                Me considero una persona creativa, social y solidaria con los demás.<br>
                Me gustaría muchisimo poder llevar lo aprendido en estos años a un ámbito laboral.</b></p>
        </div>

        <div class="imagen">
            <img alt="tec" [src]="miPortfolio.img" class="img">
        </div>

</div>
