<div class="acerca-de">

        <div class="texto">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Shadows+Into+Light&display=swap" rel="stylesheet">
                <h1>{{miPortfolio.presentacion}}</h1>
                <h3>{{miPortfolio.puesto}}</h3>
                <br>
                <p><b>{{miPortfolio.info}}</b></p>
        </div>

        <div class="imagen">
            <img alt="tec" [src]="miPortfolio.img" class="img">
        </div>

</div>
