<div class="row">

    <div class="titulo">
        <h1>Hard Skills</h1>
    </div>

    <div class="col-2">
        <circle-progress
            [percent]="80"
            [radius]="75"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'cyan'"
            [innerStrokeColor]="'#FF0099'"
            [animation]="true"
            [animationDuration]="750"
            [showUnits]="false"
            [imageSrc]="'../../../assets/html.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showSubtitle]="false"
            [responsive]="true"
            [outerStrokeGradient]="true"
        ></circle-progress>
    </div>

    <div class="col-2">
        <circle-progress
            [percent]="80"
            [radius]="75"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'cyan'"
            [innerStrokeColor]="'#FF0099'"
            [animation]="true"
            [animationDuration]="750"
            [showUnits]="false"
            [imageSrc]="'../../../assets/css.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="70"
            [showSubtitle]="false"
            [responsive]="true"
            [outerStrokeGradient]="true"
        ></circle-progress>
    </div>

    <div class="col-2">
        <circle-progress
            [percent]="70"
            [radius]="75"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'cyan'"
            [innerStrokeColor]="'#FF0099'"
            [animation]="true"
            [animationDuration]="750"
            [showUnits]="false"
            [imageSrc]="'../../../assets/javascript.jpg'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showSubtitle]="false"
            [responsive]="true"
            [outerStrokeGradient]="true"
        ></circle-progress>
    </div>

    <div class="col-2">
        <circle-progress
            [percent]="75"
            [radius]="75"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'cyan'"
            [innerStrokeColor]="'#FF0099'"
            [animation]="true"
            [animationDuration]="750"
            [showUnits]="false"
            [imageSrc]="'../../../assets/angular.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showSubtitle]="false"
            [responsive]="true"
            [outerStrokeGradient]="true"
        ></circle-progress>
    </div>

    <div class="col-2">
        <circle-progress
            [percent]="90"
            [radius]="75"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'cyan'"
            [innerStrokeColor]="'#FF0099'"
            [animation]="true"
            [animationDuration]="750"
            [showUnits]="false"
            [imageSrc]="'../../../assets/nodeJS.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showSubtitle]="false"
            [responsive]="true"
            [outerStrokeGradient]="true"
        ></circle-progress>
    </div>

    <div class="col-2">
        <circle-progress
            [percent]="70"
            [radius]="75"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'cyan'"
            [innerStrokeColor]="'#FF0099'"
            [animation]="true"
            [animationDuration]="750"
            [showUnits]="false"
            [imageSrc]="'../../../assets/bootstrap.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showSubtitle]="false"
            [responsive]="true"
            [outerStrokeGradient]="true"
        ></circle-progress>
    </div>

    <div class="col-2">
        <circle-progress
            [percent]="40"
            [radius]="75"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'cyan'"
            [innerStrokeColor]="'#FF0099'"
            [animation]="true"
            [animationDuration]="750"
            [showUnits]="false"
            [imageSrc]="'../../../assets/java.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showSubtitle]="false"
            [responsive]="true"
            [outerStrokeGradient]="true"
        ></circle-progress>
    </div>

    <div class="col-2">
        <circle-progress
            [percent]="15"
            [radius]="75"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'cyan'"
            [innerStrokeColor]="'#FF0099'"
            [animation]="true"
            [animationDuration]="750"
            [showUnits]="false"
            [imageSrc]="'../../../assets/c-sharp.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showSubtitle]="false"
            [responsive]="true"
            [outerStrokeGradient]="true"
        ></circle-progress>
    </div>

    <div class="col-2">
        <circle-progress
            [percent]="10"
            [radius]="75"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'cyan'"
            [innerStrokeColor]="'#FF0099'"
            [animation]="true"
            [animationDuration]="750"
            [showUnits]="false"
            [imageSrc]="'../../../assets/phyton.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showSubtitle]="false"
            [responsive]="true"
            [outerStrokeGradient]="true"
        ></circle-progress>
    </div>

    <div class="col-2">
        <circle-progress
            [percent]="70"
            [radius]="75"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'cyan'"
            [innerStrokeColor]="'#FF0099'"
            [animation]="true"
            [animationDuration]="750"
            [showUnits]="false"
            [imageSrc]="'../../../assets/sql.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showSubtitle]="false"
            [responsive]="true"
            [outerStrokeGradient]="true"
        ></circle-progress>
    </div>

    <div class="col-2">
        <circle-progress
            [percent]="95"
            [radius]="75"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'cyan'"
            [innerStrokeColor]="'#FF0099'"
            [animation]="true"
            [animationDuration]="750"
            [showUnits]="false"
            [imageSrc]="'../../../assets/git.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showSubtitle]="false"
            [responsive]="true"
            [outerStrokeGradient]="true"
        ></circle-progress>
    </div>

    <div class="col-2">
        <circle-progress
            [percent]="90"
            [radius]="75"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'cyan'"
            [innerStrokeColor]="'#FF0099'"
            [animation]="true"
            [animationDuration]="750"
            [showUnits]="false"
            [imageSrc]="'../../../assets/GitHub.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showSubtitle]="false"
            [responsive]="true"
            [outerStrokeGradient]="true"
        ></circle-progress>
    </div>

</div>

<div class="row">

    <div class="titulo">
        <h1>Soft Skills</h1>
    </div>

    <div class="col-2">
        <circle-progress
            [percent]="95"
            [radius]="75"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'cyan'"
            [innerStrokeColor]="'#FF0099'"
            [animation]="true"
            [animationDuration]="750"
            [showUnits]="false"
            [title]="'Trabajo en equipo'"
            [titleColor]="'black'"
            [titleFontSize]="'15'"
            [showSubtitle]="false"
            [responsive]="true"
            [outerStrokeGradient]="true"
        ></circle-progress>
    </div>

    <div class="col-2">
        <circle-progress
            [percent]="95"
            [radius]="75"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'cyan'"
            [innerStrokeColor]="'#FF0099'"
            [animation]="true"
            [animationDuration]="750"
            [showUnits]="false"
            [showTitle]="false"
            [subtitle]="'Responsabilidad'"
            [subtitleColor]="'black'"
            [subtitleFontSize]="'15'"
            [showSubtitle]="true"
            [responsive]="true"
            [outerStrokeGradient]="true"
        ></circle-progress>
    </div>

    <div class="col-2">
        <circle-progress
            [percent]="95"
            [radius]="75"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'cyan'"
            [innerStrokeColor]="'#FF0099'"
            [animation]="true"
            [animationDuration]="750"
            [showUnits]="false"
            [showTitle]="false"
            [subtitle]="'Creatividad'"
            [subtitleColor]="'black'"
            [subtitleFontSize]="'15'"
            [showSubtitle]="true"
            [responsive]="true"
            [outerStrokeGradient]="true"
        ></circle-progress>
    </div>

    <div class="col-2">
        <circle-progress
            [percent]="95"
            [radius]="75"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'cyan'"
            [innerStrokeColor]="'#FF0099'"
            [animation]="true"
            [animationDuration]="750"
            [showUnits]="false"
            [showTitle]="false"
            [subtitle]="'Confianza'"
            [subtitleColor]="'black'"
            [subtitleFontSize]="'15'"
            [showSubtitle]="true"
            [responsive]="true"
            [outerStrokeGradient]="true"
        ></circle-progress>
    </div>

    <div class="col-2">
        <circle-progress
            [percent]="95"
            [radius]="75"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'cyan'"
            [innerStrokeColor]="'#FF0099'"
            [animation]="true"
            [animationDuration]="750"
            [showUnits]="false"
            [showTitle]="false"
            [subtitle]="'Positividad'"
            [subtitleColor]="'black'"
            [subtitleFontSize]="'15'"
            [showSubtitle]="true"
            [responsive]="true"
            [outerStrokeGradient]="true"
        ></circle-progress>
    </div>

    <div class="col-2">
        <circle-progress
            [percent]="95"
            [radius]="75"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'cyan'"
            [innerStrokeColor]="'#FF0099'"
            [animation]="true"
            [animationDuration]="750"
            [showUnits]="false"
            [showTitle]="false"
            [subtitle]="'Inteligencia emocional'"
            [subtitleColor]="'black'"
            [subtitleFontSize]="'15'"
            [showSubtitle]="true"
            [responsive]="true"
            [outerStrokeGradient]="true"
        ></circle-progress>
    </div>
    
</div>