<div class="proyectos">
    

<div class="container">
    <h1>Proyectos</h1>
</div>

    <div class="proyec1">

    <h3>Lista de Tareas</h3>
        <div class="card" style="width:400px">
            <img class="card-img-top" src="../../../assets/lista-tarea.png" alt="Card image" style="width:100%">
                <div class="card-body">
                <p class="card-text">App que permite generar un listado de las tareas.</p>
                </div>
        </div>

    </div>

    <div class="proyec2">

        <h3>Portfolio</h3>
            <div class="card" style="width:400px">
                <img class="card-img-top" src="../../../assets/portfolio-img.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                    <p class="card-text">Portfolio personal realizado para el trabajo final del curso Argentina Programa.</p>
                    </div>
            </div>
    
    </div>



</div>