.icon{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    align-items: center;
}

.fa-solid{
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    cursor: pointer;
    font-size: 4vh;
}
