.icon{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    align-items: center;
}

.fa-solid{
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    cursor: pointer;
}

h3 .fa-solid{
    font-size: 15px;
}