h4, h5{
    font-family: 'Mali', cursive;
}

h3{
    font-family: 'Amaranth', sans-serif;
}

h3 .fa-solid{
    font-size: 15px;
    margin-right: 5px;
}

.titulo{
    font-family: 'Bebas Neue', cursive;
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: underline;
}

.row{
    border-radius: 22px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid blueviolet 4px;
    background-color: rgb(255, 122, 184);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

li{
    list-style: none;
}

.edu{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img{
    width: 110px;
    height: 70px;
    margin-right: 20px;
    background-color: rgb(37, 128, 202);
    border-radius: 20%;
}

/*Div CRUD*/

.datos{
    display: none;
    flex-direction: column;
    padding: 1vh;
    align-items: center;
}

label{
	color: white;
	display: block;
	text-align:start;
	font-size: 3vh;
	padding: 0px;
    margin: 2vh;
}

input[type="text"]{
	width: 360px;
	height: auto;
	display: block;
	padding: 1vh;
	font-weight: bolder;
	border: 1px solid black;
    border-radius: 8px;
    margin-left: 2vh;
    margin-right: 2vh;
    background-color: white;
}