<div class="row">
    <div class="titulo">
        <h1>Educación</h1>
    </div>
    
    <ul class="educacion-list">
        <li *ngFor="let educacion of educacionList">
            <div class="edu">

                <div class="img-edu">
                    <img alt="image" [src]="educacion.img" class="img">
                </div>
    
                <div class="educ1">
                    <h3>{{educacion.lugar}}</h3>
                    <h4>{{educacion.titulo}}</h4>
                    <h5>{{educacion.comienzo}} - {{educacion.fin}}</h5>
                </div>
        
            </div>
        </li>
    </ul>

    <div class="icon">
        <a (click)="Editar()"><i class="fa-solid fa-pencil"></i></a>
        <i class="fa-solid fa-trash-can"></i>
    </div>

    <div class="datos" *ngIf="edit">
        <label for="">Ingrese su establecimiento:</label>
        <input type="text" id="establecimiento" placeholder="Establecimiento">
        <label for="">Ingrese título obtenido:</label>
        <input type="text" id="titulo" placeholder="Título">
        <label for="">Ingrese el logo de la institución:</label>
        <input type="text" id="logoest" placeholder="URL del logo de la Institutción">
        <label for="">Ingrese fecha de comienzo:</label>
        <input type="text" id="comienzoest" placeholder="Fecha de comienzo">
        <label for="">Ingrese fecha de fin:</label>
        <input type="text" id="finest" placeholder="Fecha de fin">
    </div>

</div>
