<div class="row">
    <div class="titulo">
        <h1>Educación</h1>
    </div>
    
    <ul class="educacion-list">
        <li *ngFor="let educacion of educacion">
            <div class="edu">

                <div class="img-edu" *ngIf="educacion">
                    <img alt="image" src={{educacion.img}} class="img">
                </div>
                
    
                <div class="educ1" *ngIf="educacion">
                    <div class="icon">
                        <a (click)="Agregar(educacion)" ><app-icons-add></app-icons-add></a>
                        <a (click)="Editar(educacion)"><app-icons></app-icons></a>
                        <a (click)="onBorrar(educacion)" ><app-icons-trash></app-icons-trash></a>
                    </div>
                    <h3>{{educacion.lugar}}</h3>
                    <h4>{{educacion.titulo}}</h4>
                    <h5>{{educacion.comienzo}} - {{educacion.fin}}</h5>
                </div>
        
            </div>
        </li>
    </ul>

    <!-- <div class="icon">
        <a (click)="Editar()"><app-icons></app-icons></a>
    </div> -->

    <div class="datos" *ngIf="edit">
        <label for="">Ingrese su establecimiento:</label>
        <input type="text" id="establecimiento" placeholder="Establecimiento" [(ngModel)]="temporal.lugar" >
        <label for="">Ingrese título obtenido:</label>
        <input type="text" id="titulo" placeholder="Título" [(ngModel)]="temporal.titulo" >
        <label for="">Ingrese el logo de la institución:</label>
        <input type="text" id="logoest" placeholder="URL del logo de la Institutción" [(ngModel)]="temporal.img" >
        <label for="">Ingrese fecha de comienzo:</label>
        <input type="text" id="comienzoest" placeholder="Fecha de comienzo" [(ngModel)]="temporal.comienzo" >
        <label for="">Ingrese fecha de fin:</label>
        <input type="text" id="finest" placeholder="Fecha de fin" [(ngModel)]="temporal.fin" >
        <button (click)="Editar(temporal)">Cerrar</button>
        <button (click)="onEditar()" >Confirmar</button>
        <button (click)="onAgregar(temporalAg)" >Agregar Nuevo</button>
    </div>

</div>
