<div class="container">

    <div class="icon-estudio   d-flex p-2 flex-wrap">
        <div class="edit-icon-about social-icons p-2" *ngIf="editServiceService.valorIcon" >
            <a class="social-icon" (click)="onEdit()"><i class="fa-solid fa-pencil"></i></a>
        </div>
        <div class="edit-icon-about social-icons p-2" *ngIf="editServiceService.valorIcon">
            <a class="social-icon" (click)="onDelete('uno')" ><i class="fa-solid fa-trash-can"></i></a>
        </div>
    </div>
</div>