<div>
    <div class="titulo">
        <h1>Experiencias laborales</h1>
    </div>
    
    <ul class="experiencia-list">
        <li *ngFor="let experiencia of experienciaList">
            <div class="exp">

                <div class="exp-img">
                    <img alt="image" [src]="experiencia.img" class="img">
                </div>
    
                <div class="exp1">
                    <h3>{{experiencia.empresa}}, {{experiencia.modo}}</h3>
                    <h4>{{experiencia.puesto}}</h4>
                    <h5>{{experiencia.comienzo}} - {{experiencia.fin}}</h5>
                </div>
        
            </div>
        </li>
    </ul>
</div>

