<div class="row">
    <div class="titulo">
        <h1>Experiencias laborales</h1>
        <a (click)="Agregar()" ><app-icons-add></app-icons-add></a>
    </div>
    
    <ul class="experiencia-list">
        <li *ngFor="let experiencia of experiencia">
            <div class="exp">

                <div class="exp-img" *ngIf="experiencia">
                    <img alt="image" src={{experiencia.img}} class="img">
                </div>
    
                <div class="exp1" *ngIf="experiencia">
                    <div class="icon">
                        <a (click)="Editar(experiencia)"><app-icons></app-icons></a>
                        <a (click)="onBorrar(experiencia)" ><app-icons-trash></app-icons-trash></a>
                    </div>
                    <h3>{{experiencia.empresa}}, {{experiencia.modo}}</h3>
                    <h4>{{experiencia.puesto}}</h4>
                    <h5>{{experiencia.comienzo}} - {{experiencia.fin}}</h5>
                </div>

                
            </div>
        </li>
    </ul>
    <!-- <div class="icon">
        <a (click)="Editar()"><app-icons></app-icons></a>
    </div> -->
    <div class="datos" *ngIf="edit">
        <label for="">Ingrese puesto:</label>
        <input type="text" id="puesto" placeholder="Puesto" [(ngModel)]="exp.puesto" >
        <label for="">Ingrese empresa:</label>
        <input type="text" id="empresa" placeholder="Empresa" [(ngModel)]="exp.empresa" >
        <label for="">Ingrese Logo:</label>
        <input type="text" id="logoemp" placeholder="URL Logo" [(ngModel)]="exp.img" >
        <label for="">Ingrese el tipo de empleo:</label>
        <input type="text" id="modo" placeholder="Tipo de empleo" [(ngModel)]="exp.modo" >
        <label for="">Ingrese la fecha de comienzo:</label>
        <input type="text" id="comienzoemp" placeholder="Fecha de Comienzo" [(ngModel)]="exp.comienzo" >
        <label for="">Ingrese la fecha de fin:</label>
        <input type="text" id="finemp" placeholder="Fecha de Fin" [(ngModel)]="exp.fin" >
        <button class="btnModal" (click)="onEditar()" >Confirmar</button>
        <button class="btnModal" (click)="Editar(exp)" >Cerrar</button>
        <button class="btnModal" (click)="onAgregar(temporalAg)" >Agregar Nuevo</button>
    </div>
</div>

